/* Site wide styling */

/* from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Akshar', sans-serif;
}

p, a{
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: underline;
}

a:hover{
  color:#00609B;
}

h3:hover {
  text-decoration: underline 0.15em #00609B;
  transition: text-decoration-color 300ms;
}

#color-1{
    background-color: rgba(0, 0, 250, 0.25);
}

#color-2{
    background-color: rgba(125, 250, 250, 0.45);
}

/* Button styling */

.btn{
    background-color: #00609B;
    border: #00609B;
    color:white;
}

.btn:hover{
  transform: scale(1.03);
  color:white;
}

a{
    color: black;
    text-decoration: none;
}

/* Footer styling */
#footer{
    background: 
    linear-gradient(
      rgba(0, 0, 250, 0.25), 
      rgba(125, 250, 250, 0.45)
    );
    background-repeat: no-repeat;
    color:white !important;
    margin-top: 1em;
}

/* Card styling */

#card-effects{
  border-width: 3px;
  box-shadow: 2px 2px grey;
  transition: transform .2s;
  border-radius: 3px 0 3px 0;
}

#card-effects:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.03); 
}

.app-dev-img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.03); 
}

/* Hover over image effect */
.video {
  position: relative;
}

.app-dev-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.video:hover .app-dev-img {
  opacity: 0.3;
}

.video:hover .middle {
  opacity: 1;
}
