/* Site wide styling */
a{
  text-decoration: underline;
}

a:hover{
  color:#00609B;
}
  
/* Jumbotron styling */ 
.jumbotron{
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:36em;
}

.display-4{
    font-size: 140px;
    position: relative;
    z-index:2;
}

#intro_img{
    position: absolute;
    z-index:1;
    margin-left:65%;
    margin-top:4.5em;
    height: 30em;
}

.intro_noun{
    position: relative;
    z-index:2;
    font-size: 50px;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

#intro_designer{
    animation-delay: 2s;
    font-family: cursive;
}

#intro_dev{
    animation-delay: 4s;
    font-family:'Courier New', Courier, monospace;
    background-image: url("../images/headshot-nobg.png");
}

#intro_message{
    position: sticky;
    position: relative;
    float: left;
}

#intro_scrolling{
    position: default;
    float: right; 
}

#home_page_fold{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("../images/business.jpg");
  background-size:cover;
}

#business_page_fold{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("../images/business.jpg");
  background-size:cover;
  height: 25em;
}

#entre_page_fold{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("../images/business.jpg");
  background-size:cover;
  height: 25em;
}

#app_page_fold{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("../images/business.jpg");
  background-size:cover;
  height: 25em;
}

#web_page_fold{
  background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("../images/business.jpg");
  background-size:cover;
  height: 25em;
}



/* Nav bar styling */
nav{
    position: absolute;
}

.navbar-nav{
    margin-left:auto;
}

a.nav-link{
    color:white;
    margin: 0.2em;
    line-height: 0.2em;
}

a.nav-link:hover{
    color:black;
    text-decoration: underline;
}

li.active{
    text-decoration: underline;
}

.intro_fold nav{
    z-index: 3;
    bottom:25em;
}

a.navbar-brand{
  font-size: 2em;
  font-family: cursive;
  color:white;
  margin-left: 1%;
}
 
/*///////////////////////*/

#color-1{
    background-color: rgba(0, 0, 250, 0.25);
}

#color-2{
    background-color: rgba(125, 250, 250, 0.45);
}

.btn{
    background-color: #00609B;
    border: #00609B;
    color:white;
}

.btn:hover{
  transform: scale(1.03);
  color:white;
}

a{
    color: black;
    text-decoration: none;
}

#home{
    text-decoration: underline #FF97C4 7px;
}

/* Footer styling */
#footer{
    background: 
    linear-gradient(
      rgba(0, 0, 250, 0.25), 
      rgba(125, 250, 250, 0.45)
    );
    background-repeat: no-repeat;
    color:white !important;
    margin-top: 1em;
}

#card-effects{
  border-width: 3px;
  box-shadow: 2px 2px grey;
  transition: transform .2s;
}

#card-effects:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.03); 
}

.app-dev-img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.03); 
}

.video {
  position: relative;
}

.app-dev-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.video:hover .app-dev-img {
  opacity: 0.3;
}

.video:hover .middle {
  opacity: 1;
}
