/* Site wide styling */
nav{
    background-color: #FF97C4;
    color:white;
}

.navbar-nav{
    margin-left:auto;
}

#entrepreneurship{
    background-color: #FFF389;
}

#web-dev{
    background-color: #B0D9FF;
}

#app-dev{
    background-color: #CAEFBE;
}

#business{
    background-color: #FFC8C4;
}

.btn{
    background-color: #FF97C4;
    border: #FF97C4;
}

a{
    color: black;
    text-decoration: none;
}

#home{
    text-decoration: underline #FF97C4 7px;
}

/* Footer styling */
.container-fluid{
    background-color: #FF97C4; 
}